<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>585451171615-aeh1c9q81ppkt1fp5v1jlqg7mfcbb9mn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.585451171615-aeh1c9q81ppkt1fp5v1jlqg7mfcbb9mn</string>
	<key>API_KEY</key>
	<string>AIzaSyDu2SuV_EPq37GsBXYFtl7ktvrVhjmtm1o</string>
	<key>GCM_SENDER_ID</key>
	<string>585451171615</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.rorkWiki</string>
	<key>PROJECT_ID</key>
	<string>rork-wiki</string>
	<key>STORAGE_BUCKET</key>
	<string>rork-wiki.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:585451171615:ios:d9a2f0f61e9ca549b6ca2a</string>
</dict>
</plist>